@font-face {
  font-family: 'croissantOne';
  src: url('../fonts/CroissantOne-Regular.ttf');
}

@font-face {
  font-family: 'blackout2am';
  src: url('../fonts/Blackout-2am.ttf');
}

@font-face {
  font-family: 'blackoutMidnight';
  src: url('../fonts/Blackout-Midnight.ttf');
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1tib3l');
  src:  url('../fonts/icomoon.eot?1tib3l#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1tib3l') format('truetype'),
    url('../fonts/icomoon.woff?1tib3l') format('woff'),
    url('../fonts/icomoon.svg?1tib3l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$colorOne: #F7C59F;
$colorTwo: #2a324b;
$colorThree: #515d91;
$colorFour: #db90d8;
$colorFive: #8aa4d8;
$colorBackground: #FFE9BE;

// Circle size and positioning
$radius: 100px;
$normalScale: 1.3;
$hoverScale: 1.2;
$xOffset: 0.54 * $radius;
$yOffset: 0.63 * $radius;

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
  background-color: $colorBackground;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

header {
  width: 5*$radius;
}

h1, h2 {
  color: black;
  font-style: italic;
  font-family: 'blackout2am';
}

h1 {
  text-align: center;
}

@mixin vennCircle($position) {
  height: 2 * $radius;
  width: 2 * $radius;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: $radius;
  border: 1px solid;
  
  opacity: 0.5;
  z-index: 0;
  transform: translate($position) scale($normalScale);
  transition:  opacity 0.2s, transform 0.2s, background-image 0.2s;
  background-size: contain;
  background-repeat: none;
  overflow: hidden;

  img {
    opacity: 0;
    height: 100%;
    width: 100%;
  }

  &:hover {
    opacity: 1;
    $tScale: $normalScale * $hoverScale;
    z-index: 1;
    transform: translate($position) scale($tScale);

    img {
      opacity: 1;
    }
  }
}

.venn-circle-container {
  height: 5 * $radius;
  width: 5 * $radius;
  position: relative;

}

.venn-circle {
  &:nth-child(1){ 
    @include vennCircle((0.95 * $radius + $xOffset, $yOffset));
    background-color: $colorOne;
  }
  &:nth-child(2){
    @include vennCircle(($xOffset, 0.59 * $radius + $yOffset));
    background-color: $colorTwo;
  }
  &:nth-child(3){
    @include vennCircle((0.36 * $radius + $xOffset, 1.71 * $radius + $yOffset));
    background-color: $colorThree;
  }
  &:nth-child(4){
    @include vennCircle((1.54 * $radius + $xOffset, 1.71 * $radius + $yOffset));
    background-color: $colorFour;
  }
  &:nth-child(5){
    @include vennCircle((1.90 * $radius + $xOffset, 0.59 * $radius + $yOffset));
    background-color: $colorFive;
  }
}

.venn-label {
  float: left;
  margin: 10px;
  i {
    float: left;
    &:after {
      content: '\ea1e';
      line-height: 24px;
    }
  }

  h2 {
    float: left;
    margin: 0;
  }

  &:nth-child(1) { color: $colorOne; }
  &:nth-child(2) { color: $colorTwo; }
  &:nth-child(3) { color: $colorThree; }
  &:nth-child(4) { color: $colorFour; }
  &:nth-child(5) { color: $colorFive; }
}